<div class="nav-bar position-fixed">
  <div id="s1" class="item position-relative" routerLink="/dashboard">
      <span class="full-center" ><i class="fas fa-solid fa-info"></i></span>
  </div>
  <div id="s2" class="item position-relative" routerLink="/websites">
      <span class="full-center"><i class="fas fa-solid fa-window-maximize"></i></span>
  </div>
  <div id="s3" class="item position-relative" routerLink="/contact">
      <span class="full-center"><i class="fas fa-solid fa-at"></i></span>
  </div>
  <div id="s4" class="item position-relative" routerLink="/todolist">
      <span class="full-center"><img src="../assets/images/pinkpanther.png" alt="" style="width: 40px;"></span>
  </div>
</div>
<router-outlet></router-outlet>