
<!-- <div class="websites-menu">
  <a *ngFor="let website of websites"
    routerLink="/detail/{{website.id}}">
    {{website.name}}
  </a>
</div> -->
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="w-100 position-relative min100vh">
              <div class="full-center w-100">
                  <h1 class="mb-2 text-center">Hello, I'm <br> Kevin Nunes da Silva</h1>
                  <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                      Reiciendis explicabo tenetur obcaecati ea animi hic dolore
                      nesciunt laboriosam nihil quaerat modi earum magni,
                      inventore ut natus dolor minus vitae quasi.</p>
                  <h3 class="text-center grey">Familiar with:</h3>
                  <div class="tags flex-around mx-auto">
                      <span class="px-2 py-1">HTML</span>
                      <span class="px-2 py-1">CSS</span>
                      <span class="px-2 py-1">Javascript</span>
                      <span class="px-2 py-1">Angular</span>
                      <span class="px-2 py-1">PHP</span>
                  </div>
                  <!-- <h3 class="text-center mt-3">Contact:</h3>
                  <div class="contact flex-around mx-auto">
                      <span class="position-relative phone"><i
                              class="fas fa-solid fa-phone full-center"></i></span>
                      <span class="position-relative text-center linkedin">in</span>
                      <span class="position-relative mail"><i
                              class="fas fa-solid fa-envelope full-center"></i></span>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 w-50">

  </div>
</div>